html,body{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.items{
	padding: 100px;
	background: rgba(0,100,255,0.3);
	white-space: nowrap;
	width: 60%;
	height: 150px;
	overflow-x: hidden;
	overflow-y: hidden;
	user-select: none;
	transform: scale(0.95);
}
.item{
	width: 100px;
	height: 100px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,100,0,0.4);
}
.active{
	transform: scale(1);
}